<div class="col-container">
    <div class="title-container">
      <h1>{{ListTitles.RESERVATIONS}}</h1>
    </div>
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addRow()" data-cy="addRow">{{ButtonNames.ADD}}</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="changeSort($event)">
        <ng-container matColumnDef="{{ReservationFormFields.ID}}" data-cy="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.ID}} </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="{{ReservationFormFields.FIRST_NAME}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.FIRST_NAME}} </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="{{ReservationFormFields.LAST_NAME}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.LAST_NAME}} </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="{{ReservationFormFields.FLIGHT_NUMBER}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.FLIGHT_NUMBER}} </th>
            <td mat-cell *matCellDef="let element"> {{element.flightNumber}} </td>
        </ng-container>
a
        <ng-container matColumnDef="{{ReservationFormFields.DEPARTURE_DATE_TIME}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.DEPARTURE_DATE_TIME}} </th>
            <td mat-cell *matCellDef="let element"><mat-icon fontIcon="flight_takeoff" color="primary"></mat-icon> {{element.departureDateTime | date: DATE_FORMAT}} </td>
        </ng-container>

        <ng-container matColumnDef="{{ReservationFormFields.ARRIVAL_DATE_TIME}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.ARRIVAL_DATE_TIME}} </th>
            <td mat-cell *matCellDef="let element"><mat-icon fontIcon="flight_land" color="primary"></mat-icon> {{element.arrivalDateTime | date: DATE_FORMAT}} </td>
        </ng-container>

        <ng-container matColumnDef="{{ReservationFormFields.TICKET_CLASS}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ReservationTableHeaders.TICKET_CLASS}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketClass | toTicketClass }} </td>
        </ng-container>
  
        <ng-container matColumnDef="{{ReservationFormFields.ACTIONS}}">
          <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div style="display: flex; justify-content: flex-end">
                <button mat-raised-button color="primary" style="margin-left:8px" (click)="editRow(element)">{{ButtonNames.EDIT}}</button>
                <button mat-raised-button color="primary" style="margin-left:8px" (click)="removeRow(element)">{{ButtonNames.DELETE}}</button>
              </div>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell mdc-data-table__cell" [attr.colspan]="displayedColumns.length">
            {{TableMessages.NO_DATA}}
          </td>
        </tr>
  </table>
  <mat-paginator [length]="100"
                [pageIndex]="pageInfo?.pageIndex ?? 0"
                [pageSize]="pageInfo?.pageSize ?? 10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="changePageInfo($event)">
  </mat-paginator>
  </div>
  
