.container {
    padding-top: 16px;
    padding-right: 16px;
}
.row-container {
    display: flex;
    flex-direction: row;
}
mat-icon.search {
    margin-right: 4px;
}
mat-icon.clear {
    cursor: pointer;
}
