<ng-container *ngIf="!(loading | async); else spinner">
    <div class="row-container">
        <app-search
        [searchedText]="searchedText"
        (changeSearchedText)="setSearchedText($event)"></app-search>
    </div>
    <app-reservations-list
    [reservations]="searchedReservations"
    [sort]="sort | async"
    [pageInfo]="pageInfo | async"
    (openAddDialog)="openAddDialog()"
    (openUpdateDialog)="openUpdateDialog($event)"
    (openDeleteDialog)="openDeleteDialog($event)"
    (setPageInfo)="setPageInfo($event)"
    (setSort)="setSort($event)"/>
</ng-container>
<ng-template #spinner>
    <div class="spinner-container">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</ng-template> 